body {
    background-color: rgb(95, 162, 245);   
}
.grids {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 500fr 100fr 100fr;
    place-items: center;
    font-family: Arial;
}
.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: 11px;  
    color: hsl(228, 45%, 44%);  
    text-align: center;
}

.first {
    font-weight: bold;
    font-size: large;
}
.second {
    font-weight: lighter;
    font-size: 10;   
    color: gray;
}

/* .container {
    padding: 0 2em;
}
*/
